<div color="primary">
    <div class="mat-toolbar-single-row">
        <div class="projects">
            <p class="mat-title-medium">Projects</p>
            <p class="mat-title-medium day"> > </p>
            <p class="mat-title-medium day">July 2023</p>
        </div>
        <div class="icons">
            <button i-button>
                <i>search</i>
            </button>

            <button i-button>
                <i>chat_bubble</i>
            </button>
            <button i-button>
                <i>notifications</i>
            </button>
        </div>
        <button mat-button class="idk">
            <i>compost</i>
            <p class="mat-title-medium">Ronas IT</p>
        </button>
    </div>
</div>