<mat-toolbar color="primary">
    <div class="mat-toolbar-single-row">
        <div class="projects">
            <p class="mat-title-medium">Projects</p>
            <p class="mat-title-medium day"> > </p>
            <p class="mat-title-medium day">July 2023</p>
        </div>
        <div class="icons">
            <button mat-icon-button>
                <mat-icon>search</mat-icon>
            </button>

            <button mat-icon-button>
                <mat-icon>chat_bubble</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>notifications</mat-icon>
            </button>
        </div>
        <button mat-button class="idk">
            <mat-icon>compost</mat-icon>
            <p class="mat-title-medium">Ronas IT</p>
        </button>
    </div>
</mat-toolbar>