.modal {
    display: block !important;
    background-color: rgba(0, 0, 0, 0.5);
    /* Add a backdrop */
}

.modal-dialog {
    max-width: 600px;
    margin: 50px auto;
}

.modal-content {
    border-radius: 8px;

    .modal-header {
        background-color: #FF5454;
        color: white;
    }
}


.menu-icon2 {
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #131e3a;
      cursor: pointer;
      fill: white;
    }
  
    svg{
      transition: transform 0.3s ease;
    }
}



.custom-select-container {
    position: relative;
  }
  
  .dropdown-list {
    position: absolute;
    overflow-y: auto;
    max-height: 30vh;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 10;
  }
  
  .dropdown-item {
    padding: 8px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }