<div class="wraper">
    <div class="container">
        <img src="{{user().picture}}" alt="" class="profile-picture">
        <div class="user-info">
            <h2>John Doe</h2>
            <p>name</p>
        </div>
        <button mat-icon-button class="arrow-icon">
            <mat-icon fontIcon="expand_more"></mat-icon>
        </button>

    </div>
    <div class="actions-wraper">
        <div>
            <button mat-button class="container-actions"  >
                <mat-icon class="icon-box-icon">add box</mat-icon>
                <p>New event</p>
            </button>
        </div>
        <div>
            <button mat-button class="container-actions" >
                <mat-icon class="icon-box-icon">add box</mat-icon>
                <p>New event</p>
            </button>
        </div>        <div>
            <button mat-button class="container-actions" >
                <mat-icon class="icon-box-icon">add box</mat-icon>
                <p>New event</p>
            </button>
        </div>
        <!-- <div>
            <div class="example-button-container">
                <button mat-flat-button extended class="event-button">
                    <div class="icon-box">
                        <mat-icon class="add-box-icon">add box</mat-icon>
                    </div>
                    New event
                </button>
            </div> -->
        <!-- <mat-icon fontIcon="add_box"></mat-icon>
            <button color="primary" (click)="createNewEvent()">New event</button> -->
        <!-- <div>
            <button mat-icon-button (click)="navigateToInbox()">
                <mat-icon>inbox</mat-icon>
            </button>
        </div> -->
        <!-- <div>
            <button mat-raised-button color="accent" (click)="navigateToCalendar()">Calendar</button>
        </div> -->
    </div>
</div>

<mat-icon>home_outlined</mat-icon>
<mat-icon>home_rounded</mat-icon>
<mat-icon>home_sharp</mat-icon>
<mat-icon>home</mat-icon>