@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");


.hidden {
  transform: translateX(-100%);
}

.content {
  margin-left: 250px;
  padding: 20px;
  flex-grow: 1;
  transition: margin-left 0.3s ease;
}

.full-width {
  margin-left: 0;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 10%;
}

.profile-name {
  p {
    margin: 0;
    font-weight: bold;
  }
  span{
    font-size: 0.8rem;
  }
}

.rotate {
  transform: rotate(180deg);
}




.menu-icon2 {
  display: inline-block;
  padding: 5px;
  border-radius: 50%;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #495057;
    cursor: pointer;
    fill: white;
  }

  svg{
    transition: transform 0.3s ease;
  }
}

.nav-pills {
  flex-wrap: nowrap; /* Prevents items from wrapping into rows */

  .nav-item {
    a{
      color: #131e3a;
    }
    .event {
      padding-left: 0.5rem;
    }

    .nav-link {
      color: #131e3a;
      position: relative;
      padding: 8px;
      border: 1px solid transparent;
      border-radius: 8px;
      transition: border-color 0.3s ease, box-shadow 0.3s ease;
      box-sizing: border-box;

      &:hover {
        border-color: #ced4da;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
        background-color: transparent !important;
      }

      &.active {
        color: #ffffff;
        background-color: #ff5454 !important;
        fill: white !important;
        svg{
        fill: white !important;

        }
      }
    }
  }
}

.square-container,
.square-container-no-border {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  box-sizing: border-box;

  &.square-container {
    border: 2px solid #131e3a;
    border-radius: 5%;
  }

  .inner-square {
    width: 95%;
    height: 95%;
    background-color: #ffb3b3;
    border-radius: 5%;
  }

  &.inner-square[style] {
    background-color: aqua;
  }
}
