<div class="wraper">
    <div class="container">
        <img src="{{user().picture}}" alt="" class="profile-picture">
        <div class="user-info">
            <h2>John Doe</h2>
            <p>name</p>
        </div>
        <button i-button class="arrow-icon">
            <i></i>
        </button>

    </div>
    <div class="actions-wraper">
        <div>
            <button  class="container-actions"  >
                <i class="icon-box-icon">add box</i>
                <p>New event</p>
            </button>
        </div>
        <div>
            <button  class="container-actions" >
                <i class="icon-box-icon">add box</i>
                <p>New event</p>
            </button>
        </div>        <div>
            <button class="container-actions" >
                <i class="icon-box-icon">add box</i>
                <p>New event</p>
            </button>
        </div>
        <!-- <div>
            <div class="example-button-container">
                <button mat-flat-button extended class="event-button">
                    <div class="icon-box">
                        <i class="add-box-icon">add box</i>
                    </div>
                    New event
                </button>
            </div> -->
        <!-- <i Icon="add_box"></i>
            <button color="primary" (click)="createNewEvent()">New event</button> -->
        <!-- <div>
            <button i-button (click)="navigateToInbox()">
                <i>inbox</i>
            </button>
        </div> -->
        <!-- <div>
            <button mat-raised-button color="accent" (click)="navigateToCalendar()">Calendar</button>
        </div> -->
    </div>
</div>

<i>home_outlined</i>
<i>home_rounded</i>
<i>home_sharp</i>
<i>home</i>