<div class="sidenav-container">
  <!-- Sidenav -->
  <nav #sidenav mode="side" class=" side-nav d-flex flex-column p-3" fixedInViewport>
    <div>
      <header class="mat-toolbar-single-row" style="height: fit-content;  margin-top: 2vh">
        <h4>Design <span>Calender</span></h4>
        <button>
          <i>menu</i>
        </button>
      </header>
      <div class="divder"></div>
      <div class="mat-toolbar-single-row profile-info">
        <img src="../../../assets/images/unnamed.jpg" alt="">
        <div class="profile-name">
          <p class="mat-title-medium">Walter</p>
          <span class="mat-body-small">Pro Desinger</span>
        </div>
        <i class="arrow-icon" (click)="toggleActions()">{{ isActionsVisible ? 'arrow_drop_up' : 'arrow_drop_down'
          }}</i>
      </div>
      @if(isActionsVisible){
      <div class="actions-show">
        <div class="actions">
          <div class="mat-toolbar-single-row">
            <div class="actions-container">
              <div class="container-item">
                <i class="material-icons-outlined">add_box</i>
                <span class="mat-body-medium">New Event</span>
              </div>
            </div>
          </div>
        </div>
        <div class="actions">
          <div class="mat-toolbar-single-row">
            <div class="actions-container">
              <div class="container-item">
                <i class="material-icons-outlined">inbox</i>
                <span class="mat-body-medium">Inbox</span>
              </div>
            </div>
          </div>
        </div>
        <div class="actions">
          <div class="mat-toolbar-single-row">
            <div class="actions-container">
              <div class="container-item">
                <i class="material-icons-outlined">calendar_month</i>
                <span class="mat-body-medium">Calendar</span>

              </div>
            </div>
          </div>
        </div>
      </div>
      }
      <div class="mat-toolbar-single-row favourites ">
        <p>Favourites</p>
        <i class="arrow-icon" (click)="toggleActions()">{{ isActionsVisible ? 'arrow_drop_up' : 'arrow_drop_down'
          }}</i>
      </div>

      <div class="actions">
        <div class="mat-toolbar-single-row">
          <div class="actions-container">
            <div class="container-item">
              <i class="material-icons-round">stop</i>
            </div>
          </div>
        </div>
      </div>

      <div class="actions">
        <div class="mat-toolbar-single-row">
          <div class="actions-container">
            <div class="container-item">
              <i class="material-icons-round">stop</i>
            </div>
          </div>
        </div>
      </div>
      <div class="actions">
        <div class="mat-toolbar-single-row">
          <div class="actions-container">
            <div class="container-item">
              <i class="material-icons-round">stop</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Main content -->
  <div>



    <button mat-icon-button>
      <i>menu</i>
    </button>
    <app-home-nav></app-home-nav>
    <app-calendar></app-calendar>

    <button (click)="logout()">logout</button>
  </div>
</div>