<div class="d-flex" style="background-color: #fbf7f4;">
  <div class="side-nav d-flex flex-column p-3" id="sideNav" [ngClass]="{'hidden': !showSideNav }">
  <div class="d-flex justify-content-between align-items-center">
      <p class="text-center title ">Design <span>Calendar</span></p>
      <div class="menu-icon" (click)="toggleSideNav()">
        <div></div>
        <div></div>
      </div>
    </div>
    <hr>
    <app-home-aside></app-home-aside>
  </div>
  <div class="content p-3" id="mainContent" [ngClass]="{'full-width': !showSideNav }">

    <div class="menu-icon" (click)="toggleSideNav()" [class.hide]="menuHidden">
      <div></div>
      <div></div>
    </div>
    <app-home-nav></app-home-nav>
    <app-calendar></app-calendar>

  </div>

</div>

<button (click)="logout()">logout</button>