aside {
    position: relative;
    width: 100%;
    height: 100%; /* Adjust based on your container size */
    background-image: url('../assets/images/240621tu-header-coach-scheduler-default-view-2048x1433.png');
    background-size: cover;
    background-position: center;
    color: white;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}
aside::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Dark tint */
    z-index: 1;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}

.aside-content {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensures text is above the dark tint */
    text-align: center;
}

.aside-content h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.aside-content p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #adb5bd;
}

.wraper{
    display: flex;
    justify-content: center;  /* Horizontally centers the div */
    align-items: center;      /* Vertically centers the div */
    height: 100vh;   
    background-color: #adb5bd;
}

main{
    background-color: white;
    border-radius: 2%;
    height: 75vh;
    width: 90%;
}

