<div class="calendar-container">
    <!-- Calendar Header -->
    <div class="calendar-header">
        <div></div>
        <div class="day-cell" *ngFor="let day of days">
            <div class="day-number" [style.color]="day.date === 12 ? '#131E3A' : '#ddcdc2'">
                <p>{{ day.date }}</p>
            </div>
            <div class="day-name">
                <p>{{ day.day }}</p>
                <div class="vertical-line"></div>
            </div>
        </div>
    </div>

    <!-- Calendar Body Wrapper -->
    <div class="calendar-body-wrapper">
        <!-- Calendar Body -->
        <div class="calendar-body">
            <!-- Hour Lines -->
            @for (time of times; track $index) {
            <div class="time-line" [style.top]="getTimeLinePosition($index)">
            </div>
            <div class="time-line" [style.top]="getTimeLinePosition2($index)">
            </div>
            }

            <!-- Time Column -->
            <div class="time-column">
                <div class="time-slot" *ngFor="let time of times">
                    <p>{{ time }}</p>
                </div>
            </div>

            <!-- Day Columns -->
            @for (day of groupedEvents; track $index) {
            <div class="day-column">
                @if (day.events.length > 0 ) {
                @for (event of day.events; track $index) {
                <div [style.top]="getEventPosition(event.startTime)"
                    [style.height]="getEventHeight(event.startTime, event.endTime)" class="event-card" [style.background]="event.backgroundColor">
                    <div class="event-time">
                        {{getDuration(event.startTime, event.endTime)}}
                    </div>
                    <div class="event-title">{{ event.title }}</div>
                </div>
                }
                }
            </div>
            }
        </div>
    </div>

</div>