<div class="calendar-container">
    <!-- Calendar Header -->
    <div class="calendar-header">
        <div></div>
        <div class="day-cell" *ngFor="let day of days">
            <div class="day-number" [style.color]="day.date === 12 ? '#131E3A' : '#ddcdc2'">
                <p>{{ day.date }}</p>
            </div>
            <div class="day-name">
                <p>{{ day.day }}</p>
                <div class="vertical-line"></div>
            </div>
        </div>
    </div>

    <!-- Calendar Body Wrapper -->
    <div class="calendar-body-wrapper">
        <!-- Calendar Body -->
        <div class="calendar-body">
            <!-- Hour Lines -->
             @for (time of times; track $index) {
            <div class="time-line"  [style.top]="getTimeLinePosition($index)">
            </div>
            <div class="time-line"  [style.top]="getTimeLinePosition2($index)">
            </div>
        }


            <!-- Time Column -->
            <div class="time-column">
                <div class="time-slot" *ngFor="let time of times">
                    <p>{{ time }}</p>
                </div>
            </div>

            <!-- Day Columns -->
            <div class="day-column" *ngFor="let day of days">
                <div *ngFor="let event of events[day.date]" [style.top]="getEventPosition(event.startTime)"
                    [style.height]="getEventHeight(event.startTime, event.endTime)" class="event-card">
                    <div class="event-time">{{ event.time }}</div>
                    <div class="event-title">{{ event.title }}</div>
                </div>
            </div>
        </div>
    </div>

</div>