
@font-face {
    font-family: 'ZonaProBold';
    /* Name of the font */
    src: url('../src/assets/fonts/ZonaPro-Bold.otf') format('opentype');
    /* Path and format */
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ZonaPro';
    /* Name of the font */
    src: url('../src/assets/fonts/ZonaPro-Regular.ttf') format('opentype');
    /* Path and format */
    font-weight: normal;
    font-style: normal;
}




body {
    margin: 0;
    font-size: 100%;
    font-family: 'ZonaPro', "Helvetica Neue", sans-serif !important;
    svg{
        fill:"#131E3A"
    }
}

* {

    box-sizing: border-box !important;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
